@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f4;
}

a,
li,
ul,
ol {
    text-decoration: none;
    list-style: none;

}

img {
    width: 100%;
}

.active- {
    background-color: rgba(0, 104, 55, 1) !important;
    color: white !important;
}

.btn-yellow {
    background: #F5B10E;
    height: 50px;
    font-size: 22px;
}

.btn-md {
    padding: 0 70px;
}

.btn- {
    color: #006837;
    font-size: 24px;
    padding: 0 15px;
    line-height: 2.5;
    text-transform: uppercase;
    font-weight: 600;
}

.title {
    text-align: center;
}

.card-price {
    color: #006837;
    font-size: 20px;
    font-weight: 400;
}

.title-section {
    font-size: 46px;
    text-transform: uppercase;
    font-weight: 400;
    color: #006837;
    /* text-align: center; */
    word-spacing: 6px;
}

.title-logo {
    position: relative;
    width: 100%;
}

.title-logo::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 23%;
    width: 25%;
    height: 1px;
    background-color: #006837;
}

.title-logo::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 52%;
    width: 25%;
    height: 1px;
    background-color: #006837;
}

.owl-carousel.owl-theme.owl-loaded.owl-drag {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.owl-nav .owl-next,
.owl-nav .owl-prev {
    font-size: 50px !important;
}

.owl-prev {
    width: 25px;
    background: url(./asset/img/iconhalfcircle.png) no-repeat 0 18px/contain !important;
}

.owl-next {
    width: 25px;
    background: url(./asset/img/iconhalfcircle02.png) no-repeat 0 18px/contain !important;
}

.disabled {
    display: flex !important;
}

.owl-nav {
    display: flex;
    width: 101%;
    justify-content: space-between;
    position: absolute;
    z-index: -1;
}

.owl-nav span {
    font-weight: 100;
}

img.title-logo__img {
    width: 25px;
}

.tag-new {
    position: relative;
    width: 100%;
}

.tag-new::after {
    position: absolute;
    content: "Mới";
    background: #F5B10E;
    width: 45px;
    height: 16px;
    top: 90%;
    left: 2%;
    line-height: 1.4;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    border-radius: 4px;
}

.hide-for-desktop {
    display: none;
}

.on-f {
    display: flex;
}

.on-b {
    display: block;
}

.off {
    display: none;
}

.new-btn__item {
    width: 50%;
}

#new-btn {
    text-align: center;
}

.new-btn {
    height: 60px;
    width: 95%;
    border: none;
    border-radius: 10px 10px 0 0;
    background: rgba(0, 104, 55, 0.4);
    color: white;
    font-size: 24px;
    font-weight: 700;
}



/* end global */

/* header */
header {
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    background: rgba(0, 104, 55, 1);
    opacity: 0.95;
    font-size: 16px;
    width: 100%;
    z-index: 1;
}

.header__logo {
    margin-bottom: 15px;
}

.header__nav .sub-menu {
    display: flex;
    height: 20px;
    justify-content: flex-end;
    color: white;
    margin: 30px 0 20px 0;
    font-weight: 400;
    font-size: 12px;
}

.header__nav .sub-menu .hotline {
    margin-right: 20px;
}

.header__nav .sub-menu span {
    margin: 10px;
}

.header__nav .sub-menu a {
    color: white;
}

.header__nav .sub-menu .login {
    border-right: 1px solid white;
    padding-right: 5px;
}

.header__nav .sub-menu .register {
    padding-left: 2px;
}

.header__nav .nav-item {
    font-weight: 900;
    text-transform: uppercase;
    margin: 0 0 15px 0;
    padding-left: 40px;
    line-height: 17px;
}

.header__nav .nav-item a {
    color: white;
}

.header__nav .nav-item:not(:last-child) {
    border-right: solid 1px white;
    padding-right: 40px;

}

.header__nav a.nav-link {
    padding: 0;
}

/* End Header */
.banner {
    position: relative;
    background-image: url(./asset/img/background-banner.png);
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner__text {
    padding-top: 25%;
    color: #01366A;
    line-height: 1;
    text-shadow: 3px 0 0 #fff, -3px 0 0 #fff, 0 3px 0 #fff, 0 -3px 0 #fff, 2px 2px #fff, -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 1px 0 #fff;
    margin-bottom: 55px;
}

.banner__text h2 {
    font-size: 42px;
}

.banner__text p {
    font-size: 42px;
    font-weight: 600;
    align-self: center;
    width: 240px;
    margin-bottom: 0;
}

.banner__text span {
    font-size: 128px;
    font-weight: 900;
}


.banner__search-group {
    width: auto;
    height: 375px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    justify-content: center;
    box-shadow: 5px 5px 10px -4px black;
}

.banner__search-group form {
    display: flex;
    border: 1px solid grey;
    margin-left: 15px;
    border-radius: 5px;
}

.banner__search-group input {
    border-radius: 5px;
    outline: none;
    border: none;
    background: none;
    margin-left: 15px;
    width: 100%;
}

.banner__search-group .btn-search {
    border: 1px solid;
    background: #006837;
    color: white;
    transform: scale(1.1);
    border-radius: 5px;
    width: 50px;
    height: 50px;
}

.banner__search-group .buy .row {
    margin: 25px 0px 0 15px;
}

.banner__search-group .card-item {
    display: flex;
    max-width: 190px;
    height: 100px;
    background: rgba(0, 104, 55, 0.3);
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    color: #006837;
    margin: 0 -3px;
}

.banner__search-group .card-item h5 {
    width: 80px;
    font-size: 19px;
    font-weight: 600;
}

.banner__search-group .card-item img {
    width: 60px;
    height: 60px;
}

.banner__search-group .owl-carousel .owl-stage-outer {
    width: 96%;
}

.banner__search-group .item img {
    height: 60px;
    width: auto;
}

.banner__search-group .sell {
    padding: 0 30px 0 37.5px;
}

.banner__search-group .sell p {
    padding-left: 10px;
    font-size: 16px;
}

.banner__search-group .sell span i {
    padding-top: 5px;
    color: #006837;
}


.banner__search-group .sell span {
    padding: 0 10px 0 10px;
}

.banner__search-group .btn-yellow {
    width: 100%;
    margin: 0 15px;
}

/*end section banner */
.choose {
    margin-top: 375px;
}

.choose .benefit {
    margin-top: 50px;
}

.choose .benefit .benefit__item {
    align-self: center;
    text-align: -webkit-center;
    height: 300px;
}

.choose .benefit .benefit__item .bg-img {
    display: flex;
    justify-content: center;
    width: 80px;
    height: 80px;
    background: rgba(245, 177, 14, 0.15);
    border-radius: 50%;
    margin-bottom: 10px;
}

.choose .benefit .benefit__item img {
    width: 50px;
    height: 50px;
    align-self: center;
}

.choose .benefit .benefit__item h3 {
    font-size: 20px;
    font-weight: 700;
    padding: 0 30px;
}

.choose .benefit .benefit__item p {
    font-size: 14px;
    font-weight: 500;
    padding: 0 20px;
}

.choose .benefit .readmore {
    display: flex;
    text-align: center;
}

/* end section choose */
.new {
    margin-top: 100px;
}

.new .row {
    justify-content: center;
}

.card-product {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 1px 1px 3px -2px black;
    margin: 2px;
    height: 428px;
}

.card-product .card-img-top {
    height: 255px;
    object-fit: cover;
    width: 100% !important;
}

.card-product .card-text p {
    word-wrap: break-word;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.card-product .card-info {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    font-weight: 400;
}

.card-product .col-3 {
    padding: 0 5px;
    text-align: center;
    max-height: 25.5px;
}

.card-product .card-footer {
    display: flex;
    justify-content: space-between;
}

.card-product .card-contact {
    display: flex;
    align-items: center;
    justify-content: end;
}

.card-product .card-contact a {
    color: #006837;
    font-weight: 700;
    font-size: 16px;
    margin-top: 2px;
    margin-right: 5px;
}

.card-product .card-contact img {
    margin-bottom: 2px;
}

.owl-carousel .owl-item img {
    display: inline-block;
    width: auto;
}

/* end section new */
.utility {
    position: relative;
    margin-top: 50px;
}

.utility::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: url(./asset/img/bg_background_03.png) no-repeat 0px -15px/cover;
    width: 100%;
    height: 130%;
    z-index: -1;
}

.utility__img {
    align-self: center;
    text-align: center;
    margin-top: 50px;
}

.utility .utility__text {
    padding: 0 30px;
}

.utility__text p {
    font-weight: 700;
    font-size: 20px;
}

.utility__text .text-container i {
    color: #006837;
    padding: 2px 5px 0 0;
}

.utility__text .text-container p {
    font-weight: 400;
    font-size: 14px;
}

/* end section utility */

.favourite {
    margin-top: 75px;
}

/* end section favourite */
.interested {
    margin-top: 80px;
}

.interested .card-product .card-text p {
    font-weight: 700;
    font-size: 16px;
    word-wrap: break-word;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.interested .card-product .card-info {
    justify-content: start;
}

.interested .card-product .card-info div {
    padding: 0 10px;
    line-height: 1;
}

.interested .card-product .card-info .time {
    border-right: solid 1px rgba(0, 0, 0, 0.2);
    padding-left: 0;
}

.interested .card-product .card-footer .btn- {
    font-size: 14px;
    font-weight: 700;
    text-transform: none;
    padding: 0%;
}

.interested .card-product .card-footer {
    padding: 0 10px;
}

/* end section interested */
.service {
    margin-top: 75px;
    padding-top: 50px;
    height: 957px;
    background: url(./asset/img/bg_background_01.png) -1px 0px/cover no-repeat;
}

.service .owl-nav {
    display: none;
}

.service .disabled {
    display: none !important;
}

.service .row {
    margin-top: 50px;
}

.service .title-section {
    font-size: 46px;
    text-transform: uppercase;
    font-weight: 400;
    color: #FFFFFF;
    /* text-align: center; */
    word-spacing: 6px;
}

.service .title-logo::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 23%;
    width: 25%;
    height: 1px;
    background-color: #FFFFFF;
}

.service .title-logo::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 52%;
    width: 25%;
    height: 1px;
    background-color: #FFFFFF;
}

.service .service-item {
    text-align: center;
    color: #FFFFFF;
}

.service .service-item img {
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
}

.service .service-item h2 {
    font-size: 26px;
}

.service .service-item a {
    color: #FFFFFF;
    font-size: 16px;
}

/* end section service */
.business {
    margin-top: 75px;
    margin-bottom: 75px;
}

.business .owl-stage-outer {
    text-align: center;
    width: 97%;
}

.business .owl-nav button {
    background: none !important;
}

/* end section business */
footer {
    background: url(./asset/img/bg_background_02.png) 0px 0px/cover no-repeat;
    color: #FFFFFF;
    padding: 75px 0;
}

footer .row {
    padding-bottom: 15px;
}

footer .row p {
    line-height: 1;
    padding-top: 30px;
}

footer .function a {
    color: #FFFFFF;
    font-weight: 600;
    text-transform: uppercase;
}

footer .about-us a {
    color: #FFFFFF;
    font-weight: 400;
    text-transform: capitalize;
}

footer .about-us li:first-child a {
    color: #FFFFFF;
    font-weight: 600;
    text-transform: uppercase;
}

footer ul li {
    margin-bottom: 15px;
}

footer .license {
    width: 122px;
    height: 42px;
    margin-top: 10px;
    margin-bottom: 50px;
}

footer .social a {
    padding: 5px;
}

footer .company {
    text-align: center;
    padding-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

footer .company .company-info {
    padding: 0 15px;
    line-height: 1;
}

footer .company .company-info:not(:last-child) {
    border-right: 1px solid white;
}



footer .company h3 {
    font-size: 16px;
    font-weight: 600;
}

footer .company h5 {
    font-size: 16px;
    font-weight: 400;
}

.fixed-items {
    position: fixed;
    top: 75%;
    right: 2%;
    width: 50px;
    height: 50px;
}

.fixed-items img {
    margin-bottom: 5px;
}

@media (max-width: 1440px) {

    .banner {
        background-position-x: 50%
    }

    .utility::after {
        background: url(./asset/img/bg_background_03.png) no-repeat 50% -10px/cover;
        height: 120%;
    }

    .service {
        background-position-x: 50%;
    }
}

@media (max-width: 1024px) {
    .header__nav .nav-item {
        padding: 0 15px !important;
    }

    .banner__text {
        width: 100%;
        margin-bottom: 120px;
    }

    .banner__search-group .sell p {
        word-wrap: break-word;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
    }

    .choose .benefit .row {
        margin-bottom: 50px;
    }

    .choose .benefit .row h3 {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
    }

    .choose .benefit .row p {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 5;
    }

    footer .about-us {
        padding: 0px;
    }

}

@media (max-width:768px) {
    .hide-for-mobile {
        display: none;
    }

    .hide-for-desktop {
        display: flex;
    }

    .owl-carousel {
        z-index: 0;
    }

    .new .owl-stage,
    .interested .owl-stage,
    .favourite .owl-stage {
        padding-left: 0 !important;
    }

    .banner .owl-nav,
    .new .owl-nav,
    .interested .owl-nav,
    .favourite .owl-nav {
        display: none;
    }

    .new .owl-item,
    .interested .owl-item,
    .favourite .owl-item {
        width: 472px !important;
    }

    .disabled {
        display: none !important;
    }

    .title-logo::after {
        left: 7%;
        width: 40%;
    }

    .title-logo::before {
        left: 53%;
        width: 40%;
    }

    .title-section {
        padding: 0 60px;
    }



    /* end global  */

    .header {
        opacity: 1;
        height: 100px;
    }

    .navbar {
        height: 100px;
    }

    .navbar-toggler {
        padding: 0 20px 0 25px;
        background: none;
        border: none;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    .navbar-light .navbar-toggler-icon {
        background-image: url(./asset/img/navbar01.png);
    }

    .offcanvas {
        background-color: rgba(0, 104, 55, 0.98);
    }

    .offcanvas-end {
        top: 0;
        left: 0;
        border-left: 1px solid rgba(0, 0, 0, 1);
        transition: all 0.5s;
        transform: translateX(-100%);
    }

    .navbar_logo img {
        height: 40px;
    }

    .navbar .login {
        position: absolute;
        top: 40%;
        right: 5%;
    }

    .navbar .login a {
        padding: 0 10px;

    }

    .navbar-light .navbar-nav .nav-item:not(:last-child) {
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }

    .navbar-light .navbar-nav .nav-link {
        color: white;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 20px 10px;
    }

    .offcanvas-header .btn-close {
        color: white;
    }

    .navbar .login a img {
        width: 30px;
        height: 30px;
    }

    /* end header */
    .banner {
        background-image: url(./asset/img/bgmobile_01.png);
        background-repeat: no-repeat;
        background-size: contain;

    }

    .banner .container {
        max-width: none;
    }

    .banner .banner__text {
        width: 50%;
    }

    .banner .banner__text h2 {
        font-size: 20px;
    }

    .banner .banner__text p {
        font-size: 24px;
        width: 132px;
        line-height: 1.3;
        margin-bottom: 5px;
    }

    .banner .banner__text span {
        font-size: 58px;
    }

    .banner__search-group {
        height: 385px;
        border-radius: 0px;
        border-bottom: 4px solid rgba(0, 104, 55, 1);
        border-top: 4px solid rgba(0, 104, 55, 1);
        box-shadow: none;
    }

    .banner__search-group .buy .row {
        margin: 25px 15px 0 15px;
    }

    .banner__search-group form {
        margin-top: 30px;
        margin-right: 15px;
    }

    .banner__search-group .card-item {
        display: block;
        width: 160px;
        height: 160px;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding-top: 25px;
    }

    .banner__search-group .card-item img {
        margin-left: 55px;
        height: 75px;
        width: 75px;
    }

    /* end banner */
    .choose {
        margin-top: 240px;
    }

    .choose .benefit .benefit__item {
        padding: 0 20px;
    }

    .choose .benefit .readmore img {
        padding-bottom: 50px;
    }

    /* end choose */
    .new {
        margin-top: 50px;
    }

    /* end new */
    section.utility::after {
        background: url(./asset/img/bg_background_03.png) no-repeat 15% -20px/cover;
        height: 90%;
    }

    .utility .utility__text .title-section {
        padding: 0 40px 0 0;
    }

    /* end utility */
    .favourite {
        margin-top: 100px;
    }

    /*end service */
    .service .owl-nav {
        display: flex;
    }

    .service .disabled {
        display: flex !important;
    }

    .service .owl-prev,
    .service .owl-next {
        font-size: 100px !important;
        color: rgba(255, 255, 255, 0.5) !important;
        background: none !important;
    }

    .service .owl-prev span,
    .service .owl-next span {
        width: 100%;
    }

    /* end service */
    footer .company .company-info {
        padding: 0 10px;
        font-size: 15px;
    }

    footer ul {
        padding-left: 10px;
    }
}

@media (max-width:576px) {
    .title-section {
        padding: 0px 15px;
        font-size: 42px;
    }

    .new .owl-item,
    .interested .owl-item,
    .favourite .owl-item {
        width: 342px !important;
    }

    /* global */
    .header {
        height: 80px;
    }

    .header .navbar {
        height: 80px;
    }

    /* header */
    .banner .banner__text {
        text-shadow: 2px 0 2px #fff, -3px 0 2px #fff, 0 3px 2px #fff, 0 -3px 2px #fff, 2px 2px 2px #fff, -2px -2px 2px #fff, 2px -2px 2px #fff, -2px 1px 2px #fff;
        margin-bottom: 40px;
    }

    .banner .banner__text h2 {
        font-size: 17px;
    }

    .banner .banner__text p {
        font-size: 18px;
        width: 112px;
        margin-bottom: 0;
    }

    .banner .banner__text span {
        font-size: 52px;
    }

    .banner .new-btn {
        font-size: 20px;
    }

    .banner .banner__search-group .card-item {
        width: 120px;
        height: 120px;
        padding-top: 10px;
    }

    .banner .banner__search-group .card-item img {
        margin-left: 50px;
        height: 50px;
        width: 50px;
    }

    /* banner */
    .choose .benefit .readmore img {
        padding-bottom: 35px;
    }

    /* choose */

    footer ul {
        padding-left: 10px;
    }
}

@media (max-width: 425px) {

    .title-section {
        font-size: 32px;
    }

    .card-product .card-info {
        font-size: 12px;
    }


    .new .owl-item,
    .interested .owl-item,
    .favourite .owl-item {
        width: 283px !important;
    }

    /* global */

    .new-btn {
        height: 40px;
        width: 90%;
    }

    .header {
        height: 50px;
    }

    .header .navbar {
        height: 50px;
    }

    .navbar .login {
        top: 20%;
    }

    .navbar_logo img {
        height: 30px;
    }

    .navbar-toggler {
        font-size: 18px;
    }

    /* header */

    .banner .banner__text h2 {
        font-size: 13px;
        margin-bottom: 5px;
    }

    .banner .banner__text p {
        font-size: 14px;
        width: 107px;
    }

    .banner .banner__text span {
        font-size: 40px;
    }

    .banner .banner__text {
        margin-bottom: 50px;
    }

    .banner__search-group {
        height: 325px;
    }

    .banner .banner__search-group .card-item {
        width: 85px;
        height: 85px;
        padding-top: 10px;
    }

    .banner .banner__search-group .card-item h5 {
        font-size: 13px;
        width: auto;
    }

    .banner .banner__search-group .card-item img {
        margin-left: 35px;
        height: 35px;
        width: 35px;
    }

    .choose {
        margin-top: 0;
    }

    .service .title-section {
        font-size: 40px;
    }

    .service .title-logo::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 53%;
        width: 25%;
        height: 1px;
        background-color: #FFFFFF;
    }

    .service .title-logo::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 22%;
        width: 25%;
        height: 1px;
        background-color: #FFFFFF;
    }

    footer .row {
        font-size: 14px;
    }

    footer ul {
        padding-left: 5px;
    }
}

@media (max-width: 390px) {
    .btn-md {
        padding: 0 40px;
    }

    .banner__search-group .card-item {
        width: 70px !important;
        height: 70px !important;
    }

    .banner__search-group .buy .row {
        margin: 15px 0 0 15px !important;
    }

    .banner .banner__text h2 {
        font-size: 13px;
    }

    .banner .banner__text {
        padding-top: 70px;
        padding-right: 0;
    }

    .banner .banner__search-group .card-item h5 {
        font-size: 10px;
        width: auto;
        margin: 0;
    }

    .banner .banner__search-group .card-item img {
        margin-left: 20px;
        height: 30px;
        width: 30px;
    }

    .banner .banner__text span {
        font-size: 28px;
    }

}